<form id="formpost" style="width:100%"class="formpost" method="post" action="status/add">

  <input type="text" placeholder="Post Title"  name="title"><br>
  
  <textarea placeholder="Whats on your mind" cols="30" rows="10" name="posts"></textarea><br>
  <button type="submit" id="share" class="btn btn-success">Post Status</button>
  
</form>